body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  /* border: 1px solid black; */
}
#uni-margin {
  margin: 5px 5%;
}

/* header section  */

.container {
  display: flex;
  justify-content: space-between;
}
.container .links a {
  display: inline-block;
  text-decoration: none;
  padding: 0px 15px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.container .links a:hover {
  border-bottom: 1px solid #16195e;
  border-width: 2px;
  transform: scale(1.2);
  margin: 0px 5px;
}

.container .btn a {
  display: inline-block;
  text-decoration: none;
  background-color: #00a962;
  height: 30px;
  width: 110px;
  text-align: center;
  padding: 2px;
  color: white;
}

.banner-1 {
  display: flex;
  margin: 20px 5px;
}
.banner-1 .sec-box-1 {
  width: 50%;
  height: 600px;
  background-color: #16195e;
}
.banner-1 .sec-box-1 .bold {
  color: white;
  font-size: 70px;
  padding: 20px;
  margin-left: 2px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-align: justify;
  margin: 10px 70px;
}
.banner-1 .sec-box-1 p {
  color: white;
  text-align: center;
  margin: 10px 70px;
  text-align: justify;
}

.banner-1 .sec-box-1 button {
  color: white;
  background-color: #00a962;
  cursor: pointer;
  width: 110px;
  height: 35px;
  text-align: center;
}
.banner-1 .sec-box-1 .btn {
  margin: 25px 120px;
  cursor: pointer;
}

.banner-1 .sec-box-2 {
  width: 50%;
  height: 600px;
}

/* bock-1 section  */
.block-1 {
  display: flex;
  flex-direction: column;
}
.para p {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: 60px;
  font-weight: bold;
  text-align: justify;
  color: #16195e;
  margin: 10px 7%;
}
.block-1 .block-1-sec {
  display: flex;
  flex-direction: row;
  margin: 40px 7%;
  color: #16195e;
  /* font-weight: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.block-1-sec .sec33 {
  /* background-color: antiquewhite; */
  width: 33.5%;
}
.block-1-sec .sec33 a {
  text-decoration: none;
  color: #16195e;
}
.block-1-sec .sec33 a:hover {
  color: #00a962;
}
.sec33 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
}
.block-1-sec .sec33 img {
  display: inline-block;
}


/* block-3 */

.block-3{
  display: flex;
  background-color: #16195e;
  height: 500px;
  margin: 20px 0px;
}
.block-3 .block-3-sec{
  width: 50%;
}
.block-3 .block-3-sec img{
   background-color: #16195e;
   height: 400px;
   margin-top: 100px;
   margin-left: 25px;
  
}
.block-3 .block-3-sec .main{
color: beige;
margin-top: 70px;
padding: 10px;

}
.block-3 .block-3-sec .main span{
color: antiquewhite ;
 background-color: #00a967 ;
  border-radius: 50%; 
  width: 25px; 
  text-align: center; 
  margin-right: 25px;
}
.block-3 .block-3-sec .main span{
  display: inline-block;
}

/* block-5 */

.block-5 {
  display: flex;
  /* border: 1px solid black; */
  margin: 5px 7%;
}
.block-5-sec {
  width: 50%;
  /* border-right: 1px solid #16195e; */
}
.block-5-sec-1 {
  display: flex;
  flex-direction: column;
  /* margin: 5px ; */
}
.block-5-sec-1 .p-1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #16195e;
  font-size: 50px;
  font-weight: bold;
}

.block-5-sec-1 .p-2 {
  margin: 2px 0px;
}
.block-5-sec-1 .sec {
  border-left: 5px solid green;
  margin-top: 10px;
  background: rgb(231, 235, 236);
}
.block-5-sec-1 .sec p,
h3 {
  margin-left: 20px;
}

.block-5-sec .image img {
  width: auto;
  height: 600px;
  margin-left: 20px;
}
.block-5-sec-1 .a-1 a {
  text-decoration: none;
  display: inline-block;
  margin-top: 16px;
  font-weight: bolder;
}
.block-5-sec-1 .a-1 a:hover {
  color: #00a962;
}

/* block-5 section  */

.block-6 {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 0px;
}
.block-6 .main {
  text-align: center;
  background-color: #16195e;
  height: 300px;
  margin: 0px;
}
.block-6 .main h3 {
  /* padding: 10px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.block-6 .main p {
  margin-top: 0px;
  color: white;
}
.block-6 .main button {
  color: white;
  background-color: #00a962;
  height: 35px;
  cursor: pointer;
  outline: none;
}

/* footer section  */

.footer-sec {
  display: flex;
  background-color: black;
  color: white;
  margin-top:0px;
  height: 350px;
  margin-bottom: 5px;
}
.footer-sec .main-1 {
  margin: 0px 7%;
  display: flex;
  flex-direction: row;
}
.footer-sec .main-1 ul {
  list-style: none;
  margin: 0px 10px;
}
.footer-sec .main-1 h3 {
  text-align: center;
}

.footer-sec .main-2 {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-left: 15%;
  text-align: start;
}
.footer-sec .main-2 h3{
  text-align: start;
  margin-left: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}
.footer-sec .main-2 input[type=email]{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}

